.DS_Store
.idea
.tscache
.baseDir.js
.baseDir.ts
yarn.lock
.nyc_output
yarn-error.log

/src/test/renderer/*/doc
/src/test/renderer/testProject/json.json
**/node_modules/
/coverage/
/dist/

typedoc*.tgz
tmp

src/test/renderer/specs/assets/*
src/test/renderer/specs/specs.json

# Built theme JS
static/main.js

/example/docs/