.DS_Store
.idea
.tscache
.baseDir.js
.baseDir.ts
yarn.lock
.nyc_output
yarn-error.log

/examples/*/doc
/examples/basic/json.json
/node_modules/
/coverage/
/dist/

typedoc*.tgz
tmp

src/test/renderer/specs/assets/*
src/test/renderer/specs/specs.json

# This is maintained in the typedoc-site repo, but might be created here
# if someone is experimenting with the generate_changelog script.
CHANGELOG.md
