# If these were only for production, we'd care, but there's no
# way to ask npm to only report production audit findings when doing
# an install, so just turn it off. We can still check for findings
# with npm audit --production.
audit = false

# While we're on the TS beta, need this flag.
legacy-peer-deps = true
