
    <With superProps=props props=objectType>
        {{__partials__.type}}
    </With>
    <span class="tsd-signature-symbol">[</span>
    <With superProps=props props=indexType>
        {{__partials__.type}}
    </With>
    <span class="tsd-signature-symbol">]</span>
