body
    background: $COLOR_BACKGROUND
    font-family: $FONT-FAMILY
    font-size: $FONT_SIZE
    color: $COLOR_TEXT

.tsd-page-title
    padding: 70px 0 20px 0
    margin: 0 0 20px 0
    background: #fff
    box-shadow: 0 0 4px rgba(#000, 0.5)

    h1
        margin: 0

.tsd-breadcrumb
    margin: 0
    padding: 0
    color: #808080

    a
        color: #666
        text-decoration: none

        &:hover
            text-decoration: underline

    li
        display: inline

        &:after
            content: ' / '