html.default
    +size-md
        .col-content
            width: 72%

        .col-menu
            width: 28%

        .tsd-navigation
            padding-left: 10px

    +size-xs-sm

        .col-content
            float: none
            width: 100%

        .col-menu
            position: fixed !important
            overflow: auto
            -webkit-overflow-scrolling: touch
            overflow-scrolling: touch
            z-index: 1024
            top: 0 !important
            bottom: 0 !important
            left: auto !important
            right: 0 !important
            width: 100%
            padding: 20px 20px 20px 0
            max-width: 450px
            visibility: hidden
            background-color: $COLOR_SECTION
            box-shadow: inset 0 0 4px rgba(#000, 0.5)

        &.has-menu
            header,
            .col-content
                transform: translate(-50%, 0)

            .col-menu
                visibility: visible

.tsd-page-title
    padding: 70px 0 20px 0
    margin: 0 0 40px 0
    background: #fff
    box-shadow: 0 0 4px rgba(#000, 0.5)

    h1
        margin: 0

.tsd-breadcrumb
    margin: 0
    padding: 0
    color: #808080

    a
        color: #666
        text-decoration: none

        &:hover
            text-decoration: underline

    li
        display: inline

        &:after
            content: ' / '
