<With superProps=props props=comment>
    {{#if hasVisibleComponent}}
        <div class="tsd-comment tsd-typography">
            {{#if shortText}}
                <div class="lead">
                    <Markdown>{{{shortText}}}</Markdown>
                </div>
            {{/if}}
            {{#if text}}
                <Markdown>{{{text}}}</Markdown>
            {{/if}}
            {{#if tags}}
                <dl class="tsd-comment-tags">
                    {{#each tags}}
                        <dt>{{tagName}}</dt>
                        <dd><Markdown>{{{text}}}</Markdown></dd>
                    {{/each}}
                </dl>
            {{/if}}
        </div>
    {{/if}}
</With>
