<ul class="tsd-type-parameters">
    {{#each typeParameters}}
        <li>
            <h4><Compact>
                {{name}}
                {{#if type}}
                    <span class="tsd-signature-symbol">:&nbsp;</span>
                    <With superProps=props props=type>{{__partials__.type}}</With>
                {{/if}}
                {{#if default}}
                    &nbsp;=&nbsp;<With superProps=props props=default>{{__partials__.type}}</With>
                {{/if}}
            </Compact></h4>
            {{__partials__.comment}}
        </li>
    {{/each}}
</ul>
