{{#with model}}
    {{#if hasComment}}
        <section class="tsd-panel tsd-comment">
            {{> comment}}
        </section>
    {{/if}}
{{/with}}

{{#if model.signatures}}
    <section class="tsd-panel tsd-type-parameters">
        <h3>Callable</h3>
        {{#with model}}{{> member.signatures}}{{/with}}
    </section>
{{/if}}

{{#if model.typeParameters}}
    <section class="tsd-panel tsd-type-parameters">
        <h3>Type parameters</h3>
        {{#with model}}{{> typeParameters}}{{/with}}
    </section>
{{/if}}

{{#if model.typeHierarchy}}
    <section class="tsd-panel tsd-hierarchy">
        <h3>Hierarchy</h3>
        {{#with model.typeHierarchy}}{{> hierarchy}}{{/with}}
    </section>
{{/if}}

{{#with model}}
    {{> index}}
    {{> members}}
{{/with}}