$TYPE_ICONS:
    (object-literal),
    (class),
    ('class.tsd-has-type-parameter'),
    (interface),
    ('interface.tsd-has-type-parameter'),
    (module, external-module),
    (enum),
    (enum-member);

$MEMBER_ICONS:
    (variable, property),
    (get-signature),
    (set-signature),
    (accessor),
    (function, method, call-signature),
    ('function.tsd-has-type-parameter', 'method.tsd-has-type-parameter'),
    (constructor, constructor-signature),
    (index-signature),
    (property),
    (function, method, call-signature);

// parameter
// type-literal
// type-parameter

.tsd-kind-icon {
    display: block;
    position: relative;
    padding-left: 20px;
    text-indent: -20px;

    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        height: 17px;
        margin: 0 3px 2px 0;
        background-image: url(../images/icons.png);

        @include retina {
            background-image: url(../images/icons@2x.png);
            background-size: 170px 170px;
        }
    }
}

.tsd-signature.tsd-kind-icon:before {
    background-position: 0 -153px;
}

@for $INDEX from 1 through length($TYPE_ICONS) {
    @each $KIND in nth($TYPE_ICONS, $INDEX) {
        .tsd-kind-#{$KIND} > .tsd-kind-icon:before {
            background-position: 0 -#{17 * ($INDEX)}px;
        }
    }
}

@for $INDEX from 1 through length($MEMBER_ICONS) {
    @each $KIND in nth($MEMBER_ICONS, $INDEX) {
        $OFFSET: -#{17 * ($INDEX - 1)}px;
        $SELECTOR: '.tsd-kind-' + $KIND;
        @if $INDEX == 9 {
            $SELECTOR: '.tsd-is-static';
        } @else if $INDEX > 9 {
            $SELECTOR: '.tsd-is-static.tsd-kind-' + $KIND;
        }

        #{$SELECTOR} {
            > .tsd-kind-icon:before {
                background-position: -102px $OFFSET;
            }

            &.tsd-parent-kind-class {
                > .tsd-kind-icon:before {
                    background-position: -17px $OFFSET;
                }

                &.tsd-is-inherited > .tsd-kind-icon:before {
                    background-position: -34px $OFFSET;
                }

                &.tsd-is-protected > .tsd-kind-icon:before {
                    background-position: -51px $OFFSET;
                }

                &.tsd-is-protected.tsd-is-inherited > .tsd-kind-icon:before {
                    background-position: -68px $OFFSET;
                }

                &.tsd-is-private > .tsd-kind-icon:before {
                    background-position: -85px $OFFSET;
                }
            }

            &.tsd-parent-kind-enum {
                > .tsd-kind-icon:before {
                    background-position: -119px $OFFSET;
                }
            }

            &.tsd-parent-kind-interface {
                > .tsd-kind-icon:before {
                    background-position: -136px $OFFSET;
                }

                &.tsd-is-inherited > .tsd-kind-icon:before {
                    background-position: -153px $OFFSET;
                }
            }
        }
    }
}