body
    background: $COLOR_BACKGROUND
    font-family: $FONT-FAMILY
    font-size: $FONT_SIZE
    color: $COLOR_TEXT

a
    color: #4da6ff
    text-decoration: none

    &:hover
        text-decoration: underline

code, pre
    font-family: "Source Code Pro", fixed
    padding: 0.2em
    margin: 0
    font-size: 85%
    background-color: rgba(#000, 0.04)

pre
    padding: 10px

    code
        padding: 0
        font-size: 100%
        background-color: transparent

.tsd-typography
    line-height: 1.333em

    ul
        list-style: square
        padding: 0 0 0 20px
        margin: 0

    h4, h5, h6
        font-size: 1em
        margin: 0

    h5, h6
        font-weight: normal

    p, ul, ol
        margin: 0 0 1em 0