section.tsd-member-index
    @extend %tsd-main-section

    h3
        @extend h4
        margin-top: 20px
        padding-bottom: 10px
        border-bottom: 1px solid #ddd

    ul.tsd-member-index
        @extend .row
        padding: 0
        list-style: none

        li
            @extend .col-4