.tsd-sources
    font-size: 0.8em
    padding: 0 0 10px 30px
    color: #999
    float: right
    text-align: right

    a
        color: #999
        text-decoration: underline

    ul, p
        margin: 0 !important

    ul
        list-style: none
        padding: 0