.tsd-flag
    display: inline-block
    padding: 1px 5px
    border-radius: 4px
    color: #fff
    background-color: #999
    text-indent: 0
    font-size: 0.8em
    font-weight: normal


section.tsd-member
    position: relative
    padding: 20px 0 20px 20px
    border-bottom: 1px solid #eee

    .anchor
        position: absolute
        top: -100px

    h3
        margin-top: 0
        margin-left: -20px
        font-size: 16px
        font-weight: bold
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace

    h4, h5
        font-size: 1em
        margin: 0

    h5
        font-weight: normal

    p, ul, ol
        margin: 0 0 1em 0

.tsd-signature-symbols
    color: #666
    font-weight: normal

.tsd-signature-type
    font-style: italic
    font-weight: normal